<!-- Left side column. contains the logo and sidebar -->
  <aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
      <!-- sidebar menu: : style can be found in sidebar.less -->
      <ul class="sidebar-menu" data-widget="tree">
        <li class="treeview">
          <a href="#">
            <i class="fa fa-dashboard"></i>
            <span>数据分析管理</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li class=""><a href="#"><i class="fa fa-circle-o"></i> 职位分析报表</a></li>
            <li><a href="#"><i class="fa fa-circle-o"></i> 行业分析报表</a></li>
          </ul>
        </li>

        <li class=" treeview">
          <a href="#">
            <i class="fa fa-files-o"></i>
            <span>职位数据采集</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="/goajaxjobtaskinfo.do"><i class="fa fa-circle-o"></i> 采集任务管理</a></li>
            <li><a href="pages/layout/boxed.html"><i class="fa fa-circle-o"></i> 采集结果分析</a></li>
            <li><a href="pages/layout/fixed.html"><i class="fa fa-circle-o"></i> 采集数据管理</a></li>
          </ul>
        </li>

        <li class="treeview">
          <a href="#">
            <i class="fa fa-laptop"></i>
            <span>系统管理</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="modifyuser"><i class="fa fa-circle-o"></i> 用户信息修改</a></li>
            <li><a href="account"><i class="fa fa-circle-o"></i> 用户信息查询</a></li>
            <li><a href="#"><i class="fa fa-circle-o"></i> 密码管理</a></li>
          </ul>
        </li>


      </ul>
    </section>
    <!-- /.sidebar -->
  </aside>